{#
SGC
#}

[Unit]
Description=Owncast Server ({{ owncast_identifier }})
{% for service in owncast_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in owncast_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ sysd_docker_unit_home_path }}"
ExecStartPre=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} stop -t {{ sysd_docker_stop_grace }} {{ owncast_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} rm {{ owncast_identifier }} 2>/dev/null || true'

{% set _appargs = [] %}
{% if owncast_admin_password %}{% set _ = _appargs.append('--adminpassword=' ~ owncast_admin_password) %}{% endif %}
{% for _a in owncast_app_arguments %}{% set _ = _appargs.append(_a) %}{% endfor %}
ExecStartPre={{ sysd_docker_host_command }} create \
      --rm \
      --name={{ owncast_identifier }} \
      --log-driver=none \
      --user={{ owncast_uid }}:{{ owncast_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ owncast_container_network }} \
      {% if owncast_container_hostname %}
      --hostname={{ owncast_container_hostname }} \
      {% endif %}
      {% if owncast_container_http_host_bind_port %}
      -p {{ owncast_container_http_host_bind_port }}:{{ owncast_container_http_port }} \
      {% endif %}
      {% if owncast_container_rtmp_host_bind_port %}
      -p {{ owncast_container_rtmp_host_bind_port }}:{{ owncast_container_rtmp_port }}/tcp \
      {% endif %}
      --env-file={{ owncast_base_path }}/env \
      --label-file={{ owncast_base_path }}/labels \
      --health-interval={{ owncast_container_health_interval }} \
      --mount type=bind,src={{ owncast_data_path }},dst=/app/data \
      {% for arg in owncast_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ owncast_container_image_self_build_name if owncast_container_image_self_build else owncast_container_image }}{% if _appargs %} {{ _appargs | join(' ') }}{% endif %}

{% for network in owncast_container_additional_networks %}
ExecStartPre={{ sysd_docker_host_command }} network connect {{ network }} {{ owncast_identifier }}
{% endfor %}

ExecStart={{ sysd_docker_host_command }} start --attach {{ owncast_identifier }}

ExecStop=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} stop -t {{ sysd_docker_stop_grace }} {{ owncast_identifier }} 2>/dev/null || true'
ExecStop=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} rm {{ owncast_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ owncast_identifier }}

[Install]
WantedBy=multi-user.target
